<% @meeting.errors.full_messages.each do |error| %>
  <div><%= error %></div>
<% end %>

<h1>Create a new meeting</h1>
<%= render partial: "update_or_new", locals: {url: "/meetings", verb: "post", submit_value: "Create New Meeting!"} %>
